{% extends 'base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    <section class="top-posts">
        {% set latesArticle = articles.oneLates %}
        {% if latesArticle is not null %}
            <article class="main-post top-post">
                <a href="#" class="category-link">{{ latesArticle.categoryTitle }}</a>
                <a href="#">
                    <img src="{{ asset(latesArticle.image) }}" alt="" class="img-fluid">
                </a>
                <a href="#" class="post-link">
                    <h1>{{ latesArticle.title }}</h1>
                </a>
                <time>{{ latesArticle.publicationDate | date('d-m-Y') }}</time>
                <p>{{ latesArticle.shortDescription }}</p>
                <div class="clearfix"></div>
            </article>
        {% endif %}
        <div class="row posts">
            <div class="col"></div>
            {% for article in articles.lates(3) %}
                <div class="col-3">
                    <article class="post top-post">
                        <a href="#" class="category-link">{{ article.categoryTitle }}</a>
                        <a href="#">
                            <img src="{{ asset(article.image) }}" alt="" class="img-fluid">
                        </a>
                        <a href="#" class="post-link">
                            <h3>{{ article.title }}</h3>
                        </a>
                        <time>{{ latesArticle.publicationDate | date('d-m-Y') }}</time>
                        <p>{{ article.shortDescription }}</p>
                    </article>
                </div>
            {% endfor %}
            <div class="col"></div>
        </div>
    </section>
    <section class="regular-posts">
        {% for article in articles %}
            <article class="post">
                <a href="#" class="category-link">{{ article.categoryTitle }}</a>
                <a href="#"><h4>{{ article.title }}</h4></a>
                <time>{{ article.publicationDate | date('d-m-Y') }}</time>
            </article>
        {% endfor %}
    </section>
{% endblock %}
