{% extends 'base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/article_view.css') }}">
{% endblock %}

{% block body %}
    <article class="view">
        <a href="#" class="category-link">{{ article.categoryTitle }}</a>
        <h1>{{ article.title }}</h1>
        <time>{{ article.publicationDate | formatted_date }}</time>
        <div class="body">
            {{ article.body | raw }}
        </div>
    </article>
{% endblock %}
